<form [formGroup]="loginForm" (ngSubmit)="login()"></form>
<div class="row justify-content-center">
  <div class="col-lg-5">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
      <div class="card-header">
        <h3 class="text-center font-weight-light my-4">Login</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="form-floating mb-3">
            <input
              formControlName="userName"
              class="form-control"
              id="inputuserName"
              type="email"
              placeholder="Username (your email address)"
              [class.is.invalid]="
                submitted && loginForm.get('userName')?.errors
              "
            />
            <label for="inputuserName">Email address</label>
            <span
              class="text-danger"
              *ngIf="
                submitted && loginForm.get('userName')?.hasError('required')
              "
            >
            </span>
          </div>
          <div class="form-floating mb-3">
            <input
              formControlName="password"
              class="form-control"
              id="inputPassword"
              type="password"
              placeholder="Password"
              [class.is.invalid]="
                submitted && loginForm.get('password')?.hasError('required')
              "
            />
            <label for="inputPassword">Password</label>
            <span
              class="text-danger"
              *ngIf="
                submitted && loginForm.get('password')?.hasError('required')
              "
            >
            </span>
          </div>
          <div class="form-floatin" *ngIf="errorMessage.length > 0">
            <app-validation-message [errorMessages]="errorMessage">
            </app-validation-message>
          </div>
          <div class="d-grid mt-4 px-1">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
