<div class="row justify-content-center mt-5">
  <div class="col-lg-12">
    <app-breadcrumb />

    <div class="card shadow-lg border-0 rounded-lg">
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">



          <div class="row mb-3">
            <!-- First Name -->
            <div class="col-md-6">
              <div class="form-floating mb-3 mb-md-0">
                <input formControlName="firstName" class="form-control" type="text" placeholder="First name"
                  [class.is-invalid]="submitted() && registerForm.controls.firstName.invalid" />
                <label>First name</label>
                @if (submitted() && registerForm.controls.firstName.hasError('required')) {
                <div class="invalid-feedback">First name is required</div>
                }
              </div>
            </div>

            <!-- Last Name -->
            <div class="col-md-6">
              <div class="form-floating">
                <input formControlName="lastName" class="form-control" type="text" placeholder="Last name"
                  [class.is-invalid]="submitted() && registerForm.controls.lastName.invalid" />
                <label>Last name</label>
                @if (submitted() && registerForm.controls.lastName.hasError('required')) {
                <div class="invalid-feedback">Last name is required</div>
                }
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="form-floating mb-3">
            <input formControlName="email" class="form-control" type="email" placeholder="Email"
              [class.is-invalid]="submitted() && registerForm.controls.email.invalid" />
            <label>Email address</label>
            @if (submitted() && registerForm.controls.email.hasError('required')) {
            <div class="invalid-feedback">Email is required</div>
            }
            @if (submitted() && registerForm.controls.email.hasError('email')) {
            <div class="invalid-feedback">Please enter a valid email</div>
            }
            
          </div>

          <!-- Team & Role Selection -->
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-floating mb-3 mb-md-0">
                <select formControlName="team" class="form-control"
                  [class.is-invalid]="submitted() && registerForm.controls.team.invalid">
                  <option [ngValue]="null" disabled>Select Team</option>
                  @for (team of teams; track team) {
                  <option [value]="team.id">{{ team.name }}</option>
                  }
                </select>
                <label>Team</label>
                @if (submitted() && registerForm.controls.team.hasError('required')) {
                <div class="invalid-feedback">Team is required</div>
                }
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-floating">
                <select formControlName="role" class="form-control"
                  [class.is-invalid]="submitted() && registerForm.controls.role.invalid">
                  <option [ngValue]="null" disabled>Select Role</option>
                  @for (role of roles; track role) {
                  <option [value]="role.id">{{ role.name }}</option>
                  }
                </select>
                <label>Role</label>
                @if (submitted() && registerForm.controls.role.hasError('required')) {
                <div class="invalid-feedback">Role is required</div>
                }
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="form-floating mb-3 mb-md-0">
                <select formControlName="managerId" class="form-control"
                [(ngModel)]="selectedManager"
                [disabled]=" loadingManager()">
                  <option [ngValue]="null" disabled>Select manager</option>
                  @for (m of managers(); track m) {
                  <option [value]="m.id">{{ m.fullName }}</option>
                  }
                </select>
                <label>Manager</label>
                
              </div>
            </div>
          </div>
          <!-- Validation Message for other errors -->
          @if(errorMessages.length>0){
          <div class="form-floating">
            <app-validation-message [errorMessages]="errorMessages()"></app-validation-message>
          </div>
          }
          <div class="d-flex justify-content-end">
          <app-submit-button [label]="'Create Account'" [loading]="submitted()" />
        </div>
        </form>
      </div>
    </div>
  </div>
</div>